<div class="container">
    <!-- Content here -->
    <!-- Example single danger button -->
    <app-nav-menu></app-nav-menu>
    <app-component-carousel></app-component-carousel>
    <div class="row">

        <div class="col">
            <h3>Sobre a Empresa Alternativa Científica</h3>
            <p class="justify">

                A Alternativa, empresa fundada em 2009, especializada e focada em produtos para análises laboratóriais,
                materiais hospitalares, materiais de proteção (Individual e Coletiva), produtos para segurança e
                Equipamentos em geral. Realizamos trabalhos no qual atendemos diretamente em diversos setores de
                indústrias,
                hospitais, laboratórios e órgãos públicos, sempre implantando e inovando conforme exige as novas
                técnicas e
                tecnologias da Era Digital. Oferecendo uma ampla linha de produtos e serviços, tanto para a iniciativa
                privada quanto pública onde procuramos desempenhar nosso trabalho com dedicação e eficiência, garantindo
                assim o sucesso de nossos negócios. Fundada por profissionais que somam mais de 30 anos de atuação
                mercado,
                com poucos anos a Alternativa conseguiu se tornar uma empresa de renome no Estado de Goiás e outros
                Estados,
                pois trabalhamos com nossos clientes não só na intenção de fecharmos a venda, mas sim com a intenção de
                prestarmos assessoria, visando a satisfação de nossos clientes.
            </p>
        </div>
        <div class="col">
            <img src="../assets/Logo_Alternativa.jpeg" class="img-fluid" alt="...">
        </div>
    </div>
</div>
