<!-- Carousel -->
<div class="row justify-content-center margin-button">
    <div class="col-12">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 10%;">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="../assets/imagem 03.png" class="d-block w-100" alt="...">
                </div>
                <!-- <div class="carousel-item" data-bs-interval="200">
                    <img src="../assets/1.bmp" class="d-block w-100" alt="..." height="457">
                </div> -->
                <div class="carousel-item" data-bs-interval="200">
                    <img src="../assets/6.jpeg" class="d-block w-100" alt="..." width="400" height="300">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
